<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
  <style>
    .container {
        position: relative;
        width: 100%;
        max-width: 1863px;
        max-height: 863px;
        background: black;
    }

    .container img {
        border-bottom: 2px solid white;
        width: 100%;
        height: 650px;
    }

    .container .btn {
        position: relative;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
        background-color: #555;
        color: white;
        font-size: 16px;
        padding: 12px 24px;
        border: none;
        cursor: pointer;
        border-radius: 5px;
        text-align: center;
    }

    .container .btn:hover {
        background-color: black;
    }
  </style>
</head>
<body>
    <div class="container">
      <%= image_tag("1.jpg") %>
      <%= link_to 'Admin Panel', players_url, class: 'btn' %>
    </div>
</body>
</html>